/* /Pages/Cart.razor.rz.scp.css */
.container[b-s16kd2ybat] {
    display: flex;
    padding: 6px;
}

.image-wrapper[b-s16kd2ybat] {
    width: 150px;
    text-align: center;
}

.image[b-s16kd2ybat] {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.name[b-s16kd2ybat] {
    flex-grow: 1;
    padding: 6px;
}

.cart-product-price[b-s16kd2ybat] {
    font-weight: 600;
    text-align: right;
}

.remove-button[b-s16kd2ybat] {
    background: none;
    border: none;
    padding: 0px;
    color: red;
    font-size: 12px;
}

    .remove-button:hover[b-s16kd2ybat] {
        text-decoration: underline;
    }

.input-quantity[b-s16kd2ybat] {
    width: 70px;
}
/* /Pages/OrderDetails.razor.rz.scp.css */
.container[b-ubnsd9n8af] {
    display: flex;
    padding: 6px;
}

.image-wrapper[b-ubnsd9n8af] {
    width: 150px;
    text-align: center;
}

.image[b-ubnsd9n8af] {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.name[b-ubnsd9n8af] {
    flex-grow: 1;
    padding: 6px;
}

.product-price[b-ubnsd9n8af] {
    font-weight: 600;
    text-align: right;
}
/* /Pages/Orders.razor.rz.scp.css */
.container[b-urk7bthkgn] {
    display: flex;
    padding: 6px;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 6px;
    margin-bottom: 10px;
}

.image-wrapper[b-urk7bthkgn] {
    width: 150px;
    text-align: center;
}

.image[b-urk7bthkgn] {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.details[b-urk7bthkgn] {
    flex-grow: 1;
    padding: 6px;
}

.order-price[b-urk7bthkgn] {
    font-weight: 600;
    font-size: 1.2em;
    text-align: right;
}
/* /Pages/ProductDetails.razor.rz.scp.css */
.media-img[b-3m969fu4wz] {
    max-width: 500px;
    max-height: 500px;
    border-radius: 6px;
    margin: 0px 10px 10px 10px;
}

.media-img-wrapper[b-3m969fu4wz] {
    max-width: 500px;
    max-height: 500px;
    text-align: center;
}

.original-price[b-3m969fu4wz] {
    text-decoration: line-through;
}

@media (max-width: 1023.99px)
{
    .media[b-3m969fu4wz] {
        flex-direction: column;
    }
    .media-img[b-3m969fu4wz] {
        max-width: 300px;
    }

    .media-img-wrapper[b-3m969fu4wz] {
        width: 100%;
        height: auto;
    }
}
/* /Shared/AdminMenu.razor.rz.scp.css */
.dropdown-item:hover[b-6oyn9llpum] {
    margin-left: 0;
}

.top-row a[b-6oyn9llpum] {
    margin-left: 0!important;
}
/* /Shared/FeaturedProducts.razor.rz.scp.css */
.container[b-0lsv8mvsjj] {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
}

img[b-0lsv8mvsjj] {
    max-width: 200px;
    max-height: 200px;
    border-radius: 6px;
    transition: transform .2s;
    margin-bottom: 10px;
}

    img:hover[b-0lsv8mvsjj] {
        transform: scale(1.1) rotate(5deg);
    }

.featured-product[b-0lsv8mvsjj] {
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    max-width: 200px;
}

@media (max-width: 1023.99px)
{
    .container[b-0lsv8mvsjj] {
        justify-content: flex-start;
    }
}
/* /Shared/HomeButton.razor.rz.scp.css */
.home-button[b-f7svpnrpnz] {
    margin-right: 10px;
    transform: rotate(5deg);
    white-space: nowrap;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-zca574wuff] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-zca574wuff] {
    flex: 1;
}

.sidebar[b-zca574wuff] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-zca574wuff] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-zca574wuff]  a, .top-row[b-zca574wuff]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-zca574wuff]  a:hover, .top-row[b-zca574wuff]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-zca574wuff]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-zca574wuff] {
        display: none;
    }

    .top-row.auth[b-zca574wuff] {
        justify-content: space-between;
    }

    .top-row[b-zca574wuff]  a, .top-row[b-zca574wuff]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-zca574wuff] {
        flex-direction: row;
    }

    .sidebar[b-zca574wuff] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-zca574wuff] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-zca574wuff]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-zca574wuff], article[b-zca574wuff] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-j6c8p94dqg] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-j6c8p94dqg] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-j6c8p94dqg] {
    font-size: 1.1rem;
}

.oi[b-j6c8p94dqg] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-j6c8p94dqg] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-j6c8p94dqg] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-j6c8p94dqg] {
        padding-bottom: 1rem;
    }

    .nav-item[b-j6c8p94dqg]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-j6c8p94dqg]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-j6c8p94dqg]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-j6c8p94dqg] {
        display: none;
    }

    .collapse[b-j6c8p94dqg] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-j6c8p94dqg] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Shared/ProductList.razor.rz.scp.css */
.media-img[b-bgi9vv9rdq] {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transfrom .2s;
}

.media-img:hover[b-bgi9vv9rdq] {
    transform: scale(1.1);
}

.media-img-wrapper[b-bgi9vv9rdq] {
    width: 200px;
    text-align: center;
}

.page-selection[b-bgi9vv9rdq] {
    margin-right: 15px;
    margin-bottom: 30px;
}

@media (max-width: 1023.99px)
{
    .media[b-bgi9vv9rdq] {
        flex-direction: column;
    }
    .media-img-wrapper[b-bgi9vv9rdq] {
        width: 100%;
        height: auto;
    }
}
/* /Shared/ShopLayout.razor.rz.scp.css */
.page[b-qvu4gnldhm] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-qvu4gnldhm] {
    flex: 1;
}

.nav-menu[b-qvu4gnldhm] {
    background-image: linear-gradient(180deg, #571B97, #9c1DE8);
}

.top-row[b-qvu4gnldhm] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-qvu4gnldhm]  a, .top-row[b-qvu4gnldhm]  .btn-link {
        white-space: nowrap;
        margin-left: .5rem;
        text-decoration: none;
    }

    .top-row[b-qvu4gnldhm]  a:hover, .top-row[b-qvu4gnldhm]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-qvu4gnldhm]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row.auth[b-qvu4gnldhm] {
        justify-content: space-between;
    }

    .top-row[b-qvu4gnldhm]  a, .top-row[b-qvu4gnldhm]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-qvu4gnldhm] {
        flex-direction: row;
    }

    .top-row[b-qvu4gnldhm] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-qvu4gnldhm]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-qvu4gnldhm], article[b-qvu4gnldhm] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/ShopNavMenu.razor.rz.scp.css */
.navbar-toggler[b-0e75garbi8] {
    color: rgba(255, 255, 255, 0.1);
}

.top-row[b-0e75garbi8] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-0e75garbi8] {
    font-size: 1.1rem;
}

.oi[b-0e75garbi8] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-0e75garbi8] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

    .nav-item[b-0e75garbi8]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-0e75garbi8]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-0e75garbi8]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.flex-nav[b-0e75garbi8] {
    flex-direction: column;
}

@media (min-width: 641px) {
    .navbar-toggler[b-0e75garbi8], .navbar-toggler-wrapper[b-0e75garbi8] {
        display: none;
    }

    .flex-nav[b-0e75garbi8] {
        flex-direction: row;
        display: flex;
    }

    .collapse[b-0e75garbi8] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/UserButton.razor.rz.scp.css */
.show-menu[b-3vyitthtu7] {
    display: block;
}

.user-button[b-3vyitthtu7] {
    margin-left: .5em;
}

.dropdown-item:hover[b-3vyitthtu7] {
    margin-left: 0;
}

.top-row a[b-3vyitthtu7] {
    margin-left: 0;
}
