@inject ICartService CartService
@inject ISyncLocalStorageService LocalStorage

<a class="btn btn-primary" href="cart">
    <i class="oi oi-cart"></i>
    <span class="badge">@GetCartItemCount()</span>
</a>

@code {
    private int GetCartItemCount()
    {
        var cartCount = LocalStorage.GetItem<int>("cartItemsCount");
        return cartCount;
    }

    protected override void OnInitialized()
    {
        CartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
    }
}