@inject AuthenticationStateProvider AuthState
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage

<div class="dropdown">
    <button @onclick="ToggleUserMenu"
            @onfocusout="HideUserMenu"
            class="btn btn-secondary dropdown-toggle user-button">
        <i class="oi oi-person"></i>
    </button>
    <div class="dropdown-menu-right dropdown-menu @UserMenuCssClass">
        <AuthorizeView>
            <Authorized>
                <a href="profile" class="dropdown-item">Profile</a>
                <hr />
                <button @onclick="HandleLogout" class="dropdown-item">Logout</button>
            </Authorized>
            <NotAuthorized>
                <a href="login?returnUrl=@NavigationManager.ToBaseRelativePath(NavigationManager.Uri)" class="dropdown-item">Login</a>
                <a href="register" class="dropdown-item">Register</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private bool ShowUserMenu = false;
    private string? UserMenuCssClass => ShowUserMenu ? "show-menu" : null;

    private void ToggleUserMenu()
    {
        ShowUserMenu = !ShowUserMenu;
    }

    private async Task HideUserMenu()
    {
        await Task.Delay(200);
        ShowUserMenu = false;
    }

    private async Task HandleLogout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthState.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
    }
}