img {
    max-width: 200px;
    max-height: 200px;
}

.row {
    display: flex;
    padding: 6px;
}

.col {
    flex: 1;
}

.header {
    display: flex;
    font-weight: 600;
    margin-bottom: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.col-visible {
    text-align: center;
}